// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  // --- 3. DEFINE YOUR DARK THEME COLORS HERE ---
  --color-bg: #665c54;
  --color-text: #fbf1c7; // Use your light bg as the dark text
  --color-border: #fbf1c7;
  --color-code-bg: #fbf1c7;
  --color-code-text: #665c54;

  // We can keep the image inverting, it's still a good idea
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
  .emoji { filter: invert(1); }
  iframe {
    filter: invert(1);
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706

html {
  // --- 1. DEFINE YOUR LIGHT THEME COLORS HERE ---
  --color-bg: #fbf1c7;
  --color-text: #3c3836; // A dark brown, better than pure black
  --color-border: #3c3836;
  --color-code-bg: #3c3836;
  --color-code-text: #fbf1c7;

  height: 100%;
  scroll-behavior: smooth;
}

// --- 2. USE THE VARIABLES ---
html, body { background: var(--color-bg); }

body {
  color: var(--color-text);
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid var(--color-border); // Use variable
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: var(--color-code-text); // Use variable
  background: var(--color-code-bg); // Use variable
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid var(--color-border); // Use variable
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}